main{
  min-height: 74vh;
  margin-top: 120px;
}
h3{
  padding: 1rem 0;
}
h1{
  font-size: 1.8 rem;
  padding: 1rem, o;
}
h2{
  font-size: 1.4 rem;
  padding: 0.5rem 0;
}
.rating span{
  margin: 0.1rem;
}
.qty{
  padding: 4px !important;
}
.card-img-top{
min-height: 175px;
}
.card{
  min-height: 420px;
}